.banner {
  background-color: $blue;
  color: white;
  @include flex;
  gap: 50px;
  padding: 20px 20px 150px 20px;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    background: #fff;
    height: 60%;
    border-radius: 100% 100% 0 0 / 100% 100%;
    position: absolute;
    bottom: -45%;
    padding: 1%;
    right: 0;
    left: -25%;
    width: 150%;
    overflow: hidden;
    z-index: 5;
    margin-top: 75px;
    margin-top: 7.5rem;
  }
  .text {
    padding: 10px;
    max-width: 30%;
    h1 {
      font-size: 4rem;
      font-weight: 100;
      line-height: 120%;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 140%;
    }
    button {
      margin-top: 20px;
      background-color: $blue;
      border: 2px solid white;
      color: white;
      padding: 10px 20px;
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 1px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: white;
        color: $gray;
      }
    }
  }
  img {
    max-width: 600px;
    max-height: 380px;
  }
  .contact__img {
    img {
      max-width: 250px;
    }
  }
}
