.home-contact {
  margin-top: 40px;
  background-color: #003349;
  color: white;
  @include flex;
  gap: 50px;
  &__text {
    flex-basis: 40%;
    h1 {
      font-size: 3rem;
      margin-bottom: 40px;
    }
    p {
      font-size: 2rem;
      line-height: 150%;
      letter-spacing: 2px;
    }
  }
  img {
    max-width: 500px;
  }
  button {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2rem;
    padding: 10px 50px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: transparent;
      color: White;
    }
  }
}
